.lead-top {
    margin-top:1em;
}

.brand.brand-active {
    color:#fff;
}

.bb-code {
    font-family:"Courier";
    font-size:1.2em;
}

.bb-code-small {
    font-size:0.9em;
}

.bb-alert {
	z-index:2000;
	width:auto;
    position:fixed;
    bottom:75%;
    right:40%;
    margin-bottom:0;
    font-size:1.2em;
    padding:1em 1.3em;
	border-radius:4px 4px 4px 4px;
}

.icon {
	color:#333333;
}

.sidebar-nav-hide {
  display:none;
}
.content-fullscreen {
  min-width: 400px;
  position: relative;
  min-height: 580px;
  background: #fff;
  margin-left: 0px;
  
  border-left: 0px solid #999999;
}
.body-fullscreen {
  background: #fff;
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0px;
  padding: 0px;
}